h1, h2, h3, h4, h5, h6{
    text-align: center;
    color:brown;
    background-color: cornflowerblue;
    border-radius: 10px;
}
#head1{
    text-align: center;
    color:red;
    background-color:chartreuse;
    border-radius: 10px;
}

body{
    background-color: #931395;
    margin-left: 20px; 
    margin-right: 20px;
}
p{
    text-align: justify;
    border: solid;
    border-color: yellowgreen;
    padding:20px;
    border-radius: 40px;
    color:whitesmoke;
}

.para1{
    text-align: justify;
    border: solid;
    border-color: chocolate;
    padding:30px;
    border-radius: 40px;
    color:yellow;
}
